body::-webkit-scrollbar,
#exampleFormControlTextarea1::-webkit-scrollbar {
  display: none;
}

.active-theme {
  border: 3px solid brown;
}

#talkbubble {
  width: 145px;
  height: 35px;
  background-color: #b6bdca;
  color: black;
  border-radius: 7px;
  font-size: smaller;
  position: relative;
}

#talkbubble:before {
  content: "";
  position: absolute;
  right: 69px;
  top: 35px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 7px solid #b6bdca;
}